@use "../../../../styles/variables" as *;

.tabs {
  gap: 48px;

  &__header {
    &__tab {
      border-bottom: 2px solid $light-grey-bg-color;
      padding: 16px 32px;
      transition: 0.1s ease-out;

      &-active {
        border-bottom-color: $primary-color;

        &:hover {
          cursor: default !important;
          border-bottom-color: $primary-color !important;
        }
      }

      &:hover {
        cursor: pointer;
        border-bottom-color: #cbdcbb;
      }

      &-title {
        font-weight: 600;
      }
    }
  }
}
