@if (type() === 'vertical') {
  <div class="card flex flex-column space-between transition-ease-out">
    <img class="card__image w-full"
         [src]="product().image[0]"
         (error)="onImageError($event)"
         (click)="navigateToProductDetail()"
    />

    <div class="card__content flex flex-column space-between">
      <div class="card__body gap-4 flex flex-column h-fit">
        <p class="card__body__product-title">
          {{ product().name }}
        </p>

        <p class="card__body__product-description fs-12">
          {{ product().description }}
        </p>

        @if (showRate() && product().rate) {
          <div class="card__body__product-rating flex">
            @for (rating of getRatingArray(); track rating) {
              <img [ngSrc]="rating ? 'assets/icons/ic-actions-star-filled.svg' : 'assets/icons/ic-actions-star.svg'"
                   width="16"
                   height="16"
                   alt="star"
              />
            }
          </div>
        }
      </div>

      <div class="card__footer flex space-between align-center">
        <p class="card__footer__product-price bolder">
          {{ product().price | number: '1.2-2' }} UAH
        </p>
        <app-button [size]="'s'" (click)="addToCart()">Buy now</app-button>
      </div>
    </div>
  </div>
} @else {
  <div class="card card-horizontal flex flex-row transition-ease-out">
    <div class="card-horizontal__image-wrapper">
      <img class="card__image card-horizontal__image w-full"
           [src]="product().image[0]"
           (error)="onImageError($event)"
           (click)="navigateToProductDetail()"
      />
    </div>

    <div class="card-horizontal__content flex space-between w-full h-full">
      <div class="card__body gap-4 card-horizontal__body flex flex-column space-between h-full">
        <div class="card-horizontal__body__product gap-8 flex flex-column">
          <h4 class="card__body__product-title">
            {{ product().name }}
          </h4>

          <p class="card__body__product-description fs-12 card-horizontal__body__product-description">
            {{ product().description }}
          </p>

          @if (showRate() && product().rate) {
            <div class="card__body__product-rating card-horizontal__body__product-rating">
              @for (rating of getRatingArray(); track rating) {
                <img [ngSrc]="rating ? 'assets/icons/ic-actions-star-filled.svg' : 'assets/icons/ic-actions-star.svg'"
                     width="20"
                     height="20"
                     alt="star"
                />
              }
            </div>
          }
        </div>

        <div class="card__body__product-info gap-32 flex">
          <div class="card__body__product-info__items flex flex-column">
            <p class="card__body__product-info__items-item">Freshness:</p>
            <p class="card__body__product-info__items-item fs-14 light">Farm:</p>
            <p class="card__body__product-info__items-item fs-14 light">Delivery:</p>
            <p class="card__body__product-info__items-item fs-14 light">Stock:</p>
          </div>

          <div class="card__body__product-info__items">
            <p class="card__body__product-info__items-item text-primary">{{ getFreshness(product().freshness) }}</p>
            <p class="card__body__product-info__items-item fs-14 light">{{ product().farm }}</p>
            <p class="card__body__product-info__items-item fs-14 light">{{ product().deliveryAria }}</p>
            <p class="card__body__product-info__items-item fs-14 light text-primary">{{ product().maxKgs }} kg</p>
          </div>
        </div>
      </div>

      <div class="card__footer card-horizontal__footer flex space-between flex-column h-full">
        <p class="card__footer__product-price bolder">
          {{ product().price | number: '1.2-2' }} UAH
        </p>

        <div class="card-horizontal__footer__delivery flex flex-column">
          <p class="card-horizontal__footer__delivery-info fs-12">{{ product().deliveryCoast ? product().deliveryCoast + ' UAH' : 'Free'}} Shipping</p>
          <p class="card-horizontal__footer__delivery-speed fs-12 light">Delivery {{ product().deliveryDays === 1 ? 'in 1 day' : product().deliveryDays === 0 ? 'today' : 'in ' + product().deliveryDays + ' days' }}</p>
        </div>

        <div class="card-horizontal__footer__buttons gap-12 flex flex-column w-full align-center">
          <app-button class="card-horizontal__footer__button w-full" (click)="navigateToProductDetail()">
            <p>Product detail</p>
            <img ngSrc="assets/icons/ic-chevron-right.svg" width="18" height="18">
          </app-button>

          @if (!isAuthenticated || !isInWishlist) {
            <app-button [size]="'s'" [variant]="'secondary'" (click)="addToWishList(product())" class="card-horizontal__footer__button">
              <img ngSrc="assets/icons/ic-actions-heart.svg" width="16" height="16">
              <p>Add to wish list</p>
            </app-button>
          } @else {
            <app-button [size]="'s'" [variant]="'secondary'" (click)="removeFromWishList(product())" class="card-horizontal__footer__button">
              <img ngSrc="assets/icons/ic-actions-heart-filled.svg" width="16" height="16">
              <p>Added</p>
            </app-button>
          }
        </div>
      </div>
    </div>
  </div>
}
