<div class="card">
  <img class="card__image"
    [src]="product().image"
    (error)="onImageError($event)"
  />

  <div class="card__body">
    <p class="card__body__product-title">
      {{ product().name }}
    </p>

    <p class="card__body__product-description">
      {{ product().description }}
    </p>

    @if (showRate() && product().rate) {
      <div class="card__body__product-rating">
        @for (rating of getRatingArray(); track rating) {
          <img [ngSrc]="rating ? 'assets/icons/ic-actions-star-filled.svg' : 'assets/icons/ic-actions-star.svg'"
            width="16"
            height="16"
            alt="star"
          />
        }
      </div>
    }
  </div>

  <div class="card__footer">
    <p class="card__footer__product-price">
      {{ product().price | number: '1.2-2' }} ₴
    </p>
    <app-button [size]="'s'">Buy now</app-button>
  </div>
</div>
