@use "../../../../styles/variables" as *;

.radio-wrapper {
  padding: 16px;
  border: 1px solid $border-color;
  border-radius: 12px;
  cursor: pointer;
  background-color: $light-bg-color;

  &.checked {
    background-color: #fff;
  }

  &:hover {
    border-color: $primary-color-dark;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      border-color: $border-color;
    }
  }
}

.radio {
  &-button {
    width: 20px;
    height: 20px;
    border: 2px solid #757575;
    margin-right: 12px;
    transition: all 0.2s ease;

    &.checked {
      border: 5px solid $primary-color;
    }
  }

  &-inner {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    flex: 1;
  }

  &-additional {
    color: $secondary-color;
    justify-self: center;
  }

  &-icon {
    justify-self: flex-end;
  }

  &-expandable-content {
    margin-top: 32px;

    &:empty {
      margin-top: 0;
    }
  }
}
