<h3>Password recovery</h3>

<form [formGroup]="passwordRecoveryForm" class="modal__form" (ngSubmit)="onSubmit()">
  @if (serverError) {
    <div class="server-side-error">
      {{ serverError }}
    </div>
  }

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Email'"
      [type]="'email'"
      [label]="'Email'"
      [border]="true"
      [errorState]="!!serverError || !!(passwordRecoveryForm.get('email')?.invalid && passwordRecoveryForm.get('email')?.touched)"
      formControlName="email"
    ></app-input>

    @if (passwordRecoveryForm.get('email')?.invalid && passwordRecoveryForm.get('email')?.touched) {
      <div class="error">
        Please enter a valid email.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Password'"
      [type]="newPasswordVisible ? 'text' : 'password'"
      [label]="'New password'"
      [iconUrl]="newPasswordVisible ? 'assets/icons/ic-actions-view.svg' : 'assets/icons/ic-actions-closed-view.svg'"
      (iconClicked)="toggleNewPasswordVisibility()"
      [errorState]="!!serverError || !!(passwordRecoveryForm.get('newPassword')?.invalid && passwordRecoveryForm.get('newPassword')?.touched)"
      formControlName="newPassword"
    ></app-input>

    @if (passwordRecoveryForm.get('newPassword')?.invalid && passwordRecoveryForm.get('newPassword')?.touched) {
      <div class="error">
        Password must be at least 6 characters long, include a letter, a number, and a special character.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Password'"
      [type]="repeatedPasswordVisible ? 'text' : 'password'"
      [label]="'Confirm password'"
      [iconUrl]="repeatedPasswordVisible ? 'assets/icons/ic-actions-view.svg' : 'assets/icons/ic-actions-closed-view.svg'"
      (iconClicked)="toggleRepeatedPasswordVisibility()"
      [errorState]="!!serverError || !!(passwordRecoveryForm.get('repeatedPassword')?.invalid && passwordRecoveryForm.get('repeatedPassword')?.touched)"
      formControlName="repeatedPassword"
    ></app-input>

    @if (passwordRecoveryForm.errors?.['passwordsMismatch'] && passwordRecoveryForm.get('repeatedPassword')?.touched) {
      <div class="error">
        Passwords must be identical. Please ensure both fields match.
      </div>
    }

  </div>

  <div class="modal__form__buttons">
    <app-button
      class="modal__form__buttons__button"
      [size]="'s'"
      [disabled]="!passwordRecoveryForm.valid"
    >
      Reset password
    </app-button>
  </div>
</form>
