<h3>Create your account</h3>

<p class="modal__text">Create account to access all features our app offers.</p>

<div class="divider"></div>

<form [formGroup]="signUpForm" class="modal__form" (ngSubmit)="onSubmit()">
  @if (serverError) {
    <div class="server-side-error">
      {{ serverError }}
    </div>
  }

  <div class="modal__form__input">
    <app-input
      [placeholder]="'First name'"
      [label]="'First name'"
      [errorState]="!!serverError || !!(signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched)"
      formControlName="firstName"
    ></app-input>

    @if (signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched) {
      <div class="error">
        Please enter the first name.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Last name'"
      [label]="'Last name'"
      [errorState]="!!serverError || !!(signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched)"
      formControlName="lastName"
    ></app-input>

    @if (signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched) {
      <div class="error">
        Please enter the last name.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Username'"
      [label]="'Username'"
      [errorState]="!!serverError || !!(signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched)"
      formControlName="username"
    ></app-input>

    @if (signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched) {
      <div class="error">
        Please enter the username.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Email'"
      [type]="'email'"
      [label]="'Email'"
      [errorState]="!!serverError || !!(signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched)"
      formControlName="email"
    ></app-input>

    @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
      <div class="error">
        Please enter a valid email.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Phone number'"
      [label]="'Phone number'"
      [errorState]="!!serverError || !!(signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched)"
      formControlName="phoneNumber"
    ></app-input>

    @if (signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched) {
      <div class="error">
        Please enter the phone number.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Password'"
      [type]="passwordVisible ? 'text' : 'password'"
      [label]="'Password'"
      [iconUrl]="passwordVisible ? 'assets/icons/ic-actions-view.svg' : 'assets/icons/ic-actions-closed-view.svg'"
      (iconClicked)="togglePasswordVisibility()"
      [errorState]="!!serverError || !!(signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched)"
      formControlName="password"
    ></app-input>

    @if (signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched) {
      <div class="error">
        Password must be at least 6 characters long, include a letter, a number, and a special character.
      </div>
    }
  </div>

  <div class="modal__form__input">
    <app-input
      [placeholder]="'Password'"
      [type]="repeatedPasswordVisible ? 'text' : 'password'"
      [label]="'Confirm password'"
      [iconUrl]="repeatedPasswordVisible ? 'assets/icons/ic-actions-view.svg' : 'assets/icons/ic-actions-closed-view.svg'"
      (iconClicked)="toggleRepeatedPasswordVisibility()"
      [errorState]="!!serverError || !!(signUpForm.get('repeatedPassword')?.invalid && signUpForm.get('repeatedPassword')?.touched)"
      formControlName="repeatedPassword"
    ></app-input>

    @if (signUpForm.get('repeatedPassword')?.invalid && signUpForm.get('repeatedPassword')?.touched) {
      <div class="error">
        Password must be at least 6 characters long, include a letter, a number, and a special character.
      </div>
    }
  </div>

  <app-checkbox [label]="'I agree to receive promotions'" [formControlName]="'newsletterConsent'"></app-checkbox>

  <div class="modal__form__buttons">
    <app-button
      class="modal__form__buttons__button"
      [size]="'s'"
      [disabled]="!signUpForm.valid"
    >
      Create account
    </app-button>
    <app-button
      [variant]="'secondary'"
      [size]="'s'"
      class="modal__form__buttons__button"
      (click)="openLogInModal()"
    >
      Login
    </app-button>
  </div>
</form>
