@use "../../../styles/variables" as *;
@use "../../../styles/typography";

.header {
  padding-inline: 45px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
  border-bottom: 1px solid $border-color;

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    &__chat {
      color: $primary-color;
      text-decoration: none;
      font-size: 14px;
    }

    &__option {
      text-decoration: none;
      font-size: 14px;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    &__link {
      text-decoration: none;
      font-size: 14px;
      color: $primary-color;

      &:hover {
        color: $primary-color-dark;
      }
    }
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-block: 46px;

  &__logo {
    font-size: 30px;
    font-weight: 700;
    font-family: 'NordiquePro-Bold', serif;
    line-height: 24px;
  }

  &__search-bar {
    align-items: center;
    border-radius: $border-radius;
    border: 1.5px solid $border-color;
    background-color: $light-bg-color;
    display: flex;
    padding-inline: 10px 20px;
    gap: 8px;
    width: 560px;

    &__categories {
      background: none;
      padding: 10px;
      border: none;
      font-weight: 700;

      &__option {
        padding-block: 18px;
        border: 2px solid black;
      }

      &:focus {
        outline: none;
      }
    }

   &__input {
      background: none;
      flex: 1;
      padding: 10px;
      border: none;
      margin-left: 10px;

     &-icon {
       cursor: pointer;
     }

      &:focus {
        outline: none;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

    &__icon {
      cursor: pointer;

      &:hover {
        opacity: 75%;
      }
    }

    &__cart {
      position: relative;

      &-count {
        position: absolute;
        top: 14px;
        right: 10px;
        background-color: #e07934;
        box-shadow: rgb(170 170 206 / 60%) 1px 1px 2px 0;
        color: #fff;
        font-size: 10px;
        padding: 0 5px;
        border-radius: 50%;
      }
    }
  }
}

.nav-bar {
  background-color: $light-bg-color;
  padding: 16px 45px;

  &__list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
  }

  &__item {
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.divider {
  width: 2px;
  height: 26px;
  background-color: $border-color;
}
