@use "../../../styles/variables" as *;
@use "../../../styles/typography";

.header {
  padding-inline: 45px;
}

.top-bar {
  padding-block: 16px;
  border-bottom: 1px solid $border-color;

  &__contact {
    &__chat {
      color: $primary-color;
      text-decoration: none;
    }

    &__option {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__links {
    &__link {
      text-decoration: none;
      color: $primary-color;

      &:hover {
        color: $primary-color-dark;
      }
    }
  }
}

.main-header {
  padding-block: 46px;

  &__logo {
    font-size: 30px;
    font-family: 'NordiquePro-Bold', serif;
    line-height: 24px;
    cursor: pointer;
  }

  &__search-bar {
    border-radius: $border-radius;
    border: 1.5px solid $border-color;
    background-color: $light-bg-color;
    padding-inline: 10px;

    &__input {
      width: 320px;
    }
  }

  &__actions {
    &__icon {
      cursor: pointer;

      &:hover {
        opacity: 75%;
      }
    }

    &__cart {
      &-count {
        top: 14px;
        right: 10px;
        background-color: #e07934;
        box-shadow: rgb(170 170 206 / 60%) 1px 1px 2px 0;
        color: #fff;
        font-size: 10px;
        padding: 0 5px;
      }
    }
  }
}

.nav-bar {
  background-color: $light-bg-color;
  padding: 16px 45px;
  height: 56px;

  &__list {
    gap: 40px;
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 5px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    font-weight: 500;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }

    &-active {
      color: $primary-color;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.divider {
  width: 2px;
  height: 26px;
  background-color: $border-color;
}

.nav__gradient-fade {
  top: 0;
  width: 60px;
  height: 56px;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba($light-bg-color, 1) 100%);
  right: 32px;
}
