<div class="page">
  <section class="section">

    <div class="section__menu">
      <div>
        <h3 class="section__menu__list__heading">Best selling products</h3>
        <ul class="section__menu__list">
          @for (product of bestSellingProducts; track product.id) {
            <li class="section__menu__list__item">{{ product.title }}</li>
          }
        </ul>
      </div>

      <app-button [variant]="'secondary'">
        More products
        <img ngSrc="assets/icons/ic-chevron-right-black.svg" width="24" height="24" alt="open">
      </app-button>
    </div>

    <div class="section__content">
        @for (product of products; track product.id) {
            <app-product-card [product]="product"></app-product-card>
        }
    </div>
  </section>

  <section class="section">

    <div class="section__menu">
      <div>
        <h3 class="section__menu__list__heading">Best from Farmers</h3>
        <ul class="section__menu__list">
          @for (product of popularProductsCategories; track product) {
            <li class="section__menu__list__item">{{ product }}</li>
          }
        </ul>
      </div>

      <app-button [variant]="'secondary'">
        More products
        <img ngSrc="assets/icons/ic-chevron-right-black.svg" width="24" height="24" alt="open">
      </app-button>
    </div>

    <div class="section__content">
      @for (product of popularProducts; track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </section>
</div>
