<div class="page">
  <section class="section">

    <div class="section__menu">
      <div>
        <h3 class="section__menu__list__heading">Best selling products</h3>
        <ul class="section__menu__list">
          @for (category of bestSellingProductsCategories; track category.id) {
            <li class="section__menu__list__item">{{ category.title }}</li>
          }
        </ul>
      </div>

      <app-button [variant]="'secondary'">
        More Categories
        <img ngSrc="assets/icons/ic-chevron-right-black.svg" width="24" height="24" alt="open">
      </app-button>
    </div>

    <div class="section__content">

      @if (bestSellingProducts.length > 0) {
        @for (product of bestSellingProducts; track product?.id) {
          <app-product-card [product]="product" [showRate]="false"></app-product-card>
        }
      } @else {
        <span class="loader"></span>
      }

    </div>
  </section>

  <section class="section">

    <div class="section__menu">
      <div>
        <h3 class="section__menu__list__heading">Best from Farmers</h3>
        <ul class="section__menu__list">
          @for (product of popularProductsCategories; track product) {
            <li class="section__menu__list__item">{{ product }}</li>
          }
        </ul>
      </div>

      <app-button [variant]="'secondary'">
        More products
        <img ngSrc="assets/icons/ic-chevron-right-black.svg" width="24" height="24" alt="open">
      </app-button>
    </div>

    <div class="section__content">

      @if (popularProducts.length > 0) {
        @for (product of popularProducts; track product?.id) {
          <app-product-card [product]="product" [showRate]="false"></app-product-card>
        }
      } @else {
        <span class="loader"></span>
      }

    </div>
  </section>

  <div class="quotes">
    <h3 class="quotes__heading">Our customers say</h3>

    @if (reviews.length > 3) {
      <app-reviews-slider [reviews]="reviews"></app-reviews-slider>
    } @else {
      <app-reviews [reviews]="reviews"></app-reviews>
    }

  </div>

  <section class="blogs">
    <div class="blogs__header">
      <h3 class="blogs__header__heading">Read our Blog posts</h3>
      <div class="blogs__header__nav" routerLink="/blogs">
        <p>Go to blog</p>
        <img ngSrc="assets/icons/ic-chevron-right-green.svg" width="24" height="24" alt="go">
      </div>
    </div>

    <div class="blogs__items">
      <app-banner [gradientPosition]="'bottom'" [imageUrl]="sortedBlogs[0].blogImage">
        <div class="blogs__items__banner">
          <h2 class="blogs__items__banner__heading">{{ sortedBlogs[0].title }}</h2>
          <div class="blogs__items__banner__info">
            <img class="blogs__items__banner__info__avatar" [src]="sortedBlogs[0].authorAvatar" [alt]="sortedBlogs[0].author">
            <p class="blogs__items__banner__info__details">{{ sortedBlogs[0].author }}</p>
            <p class="blogs__items__banner__info__details">{{ sortedBlogs[0].date }}</p>
          </div>
        </div>
      </app-banner>

      <app-blog-card [blog]="sortedBlogs[1]"></app-blog-card>

      <div class="blogs__items__less-recent">
        <app-blog-card [blog]="sortedBlogs[2]" type="horizontal"></app-blog-card>
        <app-blog-card [blog]="sortedBlogs[3]" type="horizontal"></app-blog-card>
        <app-blog-card [blog]="sortedBlogs[4]" type="horizontal"></app-blog-card>
      </div>
    </div>

  </section>
</div>
