@use "../../../styles/variables" as *;

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid $border-color;
  border-bottom-color: transparent;
  align-self: center;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-inline: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section {
  padding: 60px 45px;
  height: 400px;

  &__content {
    &__card {
      width: 50%;

      &__upper-text {
        color: $primary-color;
      }

      &__heading {
        font-size: 22px;
      }
    }
  }
}

.quotes {
  padding-block: 64px;

  &__heading {
    padding-inline: 45px;
    margin-bottom: 32px;
  }
}

.blogs {
  padding: 64px 45px;

  &__header {
    &__nav {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__items {
    &__banner {
      justify-content: end;

      &__info {
        &__avatar {
          height: 32px;
          width: 32px;
          object-fit: cover;
        }
      }
    }
  }
}
