@use "../../../../styles/variables" as *;

.pagination {
  height: 80px;
  padding: 16px 45px;

  &__pages {
    &__text {
      color: $secondary-color;
    }

    &__item {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  &__items {
    &__text {
      color: $secondary-color;
    }
  }
}

.selected {
  color: $primary-color;
}
