@use "../../../../styles/variables" as *;

.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 16px 45px;

  &__pages {
    display: flex;
    gap: 8px;

    &__text {
      font-size: 14px;
      color: $secondary-color;
    }

    &__item {
      font-size: 14px;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 4px;

    &__text {
      font-size: 14px;
      color: $secondary-color;
    }
  }
}

.selected {
  color: $primary-color;
}
