$primary-color: #6A983C;
$primary-color-dark: #46760A;
$secondary-color: #A9A9A9;
$accent-color: #e07934;
$light-bg-color: #f9f9f9;
$light-grey-bg-color: #f3f3f3;
$grey-bg-color: #EBEBEB;
$border-color: #e1e1e1;
$border-radius: 16px;

$header-height: 250px;
$footer-height: 400px;
$page-bottom-padding: 100px;
