@use "../../../../styles/variables" as *;

.input {
  background: none;
  flex: 1;
  border: none;

  &-wrapper {
    background-color: $light-bg-color;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 16px;
  }

  &-icon {
    cursor: pointer;
  }

  &-border {
    border-radius: 12px;
    border: 1.5px solid $border-color;
  }

  &-label {
    font-size: 14px;
  }

  &:focus {
    outline: none;
  }
}

.error {
  border: 1.5px solid red;
}
