<app-breadcrumbs></app-breadcrumbs>
<div class="page flex flex-column justify-center w-full gap-32">
  @if (product) {
    <div class="product__details flex gap-32">
      <div class="product__images flex flex-column">
        @for (imageUrl of product.image; track imageUrl) {
          <img [src]="imageUrl" (error)="onImageError($event)" class="product__images__item"/>
        }
      </div>

      <div class="product flex flex-column w-full">
        <div class="product__main-info flex flex-column gap-8">
          <p class="product__main-info__name bolder">{{ product.name }}</p>

          <div class="product__main-info__rating flex">
            @for (rating of getRatingArray(product.rate!); track rating) {
              <img [ngSrc]="rating ? 'assets/icons/ic-actions-star-filled-yellow.svg' : 'assets/icons/ic-actions-star.svg'"
                   width="18"
                   height="18"
                   alt="star"
              />
            }
          </div>
        </div>

        <p class="product__description">{{ product.description }}</p>

        <div class="product__additional-info flex w-full gap-32">
          <div class="product__additional-info__section flex space-between">
            <div class="product__additional-info__section__title gap-12 flex flex-column">
              <p class="product__additional-info__section__title__item fs-14">SKU:</p>
              <p class="product__additional-info__section__title__item fs-14">Category:</p>
              <p class="product__additional-info__section__title__item fs-14">Stock:</p>
              <p class="product__additional-info__section__title__item fs-14">Farm:</p>
            </div>

            <div class="product__additional-info__section__value gap-12 flex flex-column">
              <p class="product__additional-info__section__value__item fs-14">{{ product.SKU }}</p>
              <p class="product__additional-info__section__value__item fs-14 link" [routerLink]="'/homepage/' + getUrlCategoryName(product.category)">{{ getFormattedCategory(product.category) }}</p>
              <p class="product__additional-info__section__value__item fs-14 link green">{{ getFormattedStock(product.stoke) }}</p>
              <p class="product__additional-info__section__value__item fs-14">{{ product.farm }}</p>
            </div>
          </div>

          <div class="product__additional-info__section flex space-between">
            <div class="product__additional-info__section__title gap-12 flex flex-column">
              <p class="product__additional-info__section__title__item fs-14">Freshness:</p>
              <p class="product__additional-info__section__title__item fs-14">Buy by:</p>
              <p class="product__additional-info__section__title__item fs-14">Delivery:</p>
              <p class="product__additional-info__section__title__item fs-14">Delivery area:</p>
            </div>

            <div class="product__additional-info__section__value gap-12 flex flex-column">
              <p class="product__additional-info__section__value__item fs-14">{{ freshness }}</p>
              <p class="product__additional-info__section__value__item fs-14">{{ getFormattedBuyOptions() }}</p>
              <p class="product__additional-info__section__value__item fs-14">{{ deliveryDays }}</p>
              <p class="product__additional-info__section__value__item fs-14">{{ product.deliveryAria }}</p>
            </div>
          </div>
        </div>

        <div class="product__purchase-section flex space-between">
          <p class="product__purchase-section__price bolder">{{ product.price }} UAH</p>

          <div class="product__purchase-section__actions flex gap-24">
            <div class="product__purchase-section__actions__number-of-items flex align-center gap-4">
              <app-input [border]="false" [(ngModel)]="quantity" placeholder="1" class="product__purchase-section__actions__number-of-items__input"></app-input>
              <div class="divider"></div>
              <app-dropdown [options]="buyByOptions" [placeholder]="buyByOptions[0].title"></app-dropdown>
            </div>

            <app-button (click)="addToCart()">
              <div class="product__purchase-section__actions__button gap-6 flex align-center w-fit">
                <img ngSrc="assets/icons/ic-actions-add-simple.svg" width="18" height="18"/>
                <p>Add to cart</p>
              </div>
            </app-button>
          </div>
        </div>

        <div class="product__actions flex w-full gap-16">
          @if (checkIfInWishList(product)) {
            <div class="product__actions__item gap-6 transition-ease-out flex align-center w-fit" (click)="removeFromWishList(product)">
              <img ngSrc="assets/icons/ic-actions-heart-filled-red.svg" width="18" height="18"/>
              <p class="product__actions__item-text bolder">Added to wishlist</p>
            </div>
          } @else {
            <div class="product__actions__item gap-6 transition-ease-out flex align-center w-fit" (click)="addToWishList(product)">
              <img ngSrc="assets/icons/ic-actions-heart-red.svg" width="18" height="18"/>
              <p class="product__actions__item-text bolder">Add to my wishlist</p>
            </div>
          }
          <div class="product__actions__item gap-6 transition-ease-out flex align-center w-fit">
            <img ngSrc="assets/icons/ic-layout-picture-right.svg" width="18" height="18"/>
            <p class="product__actions__item-text bolder">Compare</p>
          </div>
        </div>

        <app-tabs [tabTitles]="['Description', 'Reviews', 'Questions']" [tabTags]="[null, 18, 4]">
          <ng-template>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Mus diam vitae eros consectetur tincidunt. Volutpat libero facilisis nec magnis tempor. <br><br> Diam pulvinar platea cursus vel suspendisse laoreet rhoncus tempus pulvinar. Facilisis orci sapien et imperdiet; magna habitasse. Volutpat finibus elit orci vestibulum sodales quam netus. Hac est conubia est est facilisis potenti metus.</p>
          </ng-template>

          <ng-template>
            <p>The tab content is empty for now.</p>
          </ng-template>

          <ng-template>
            <p>The tab content is empty for now.</p>
          </ng-template>
        </app-tabs>
      </div>
    </div>

    <app-product-recommendations></app-product-recommendations>
  } @else {
    <span class="loader rounded-full"></span>
  }
</div>
