<div class="page-wrapper" [ngClass]="(modalOpened$ | async) ? 'no-scroll' : ''">
  <app-layout class="page">
    <router-outlet></router-outlet>
  </app-layout>

  @if (modalOpened$ | async) {
    @if ((modalType$ | async) === 'login') {
      <app-modal class="modal">
        <app-login class="modal-content"></app-login>
      </app-modal>
    } @else if ((modalType$ | async) === 'passwordRecovery') {
      <app-modal class="modal">
        <app-password-recovery class="modal-content"></app-password-recovery>
      </app-modal>
    }
  }
</div>
