@use "../styles/variables" as *;

.page {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
  min-height: calc(100vh - $page-bottom-padding - $header-height - $footer-height);
  width: 1260px;

  &-wrapper {
    background-color: $light-bg-color;
    display: flex;
    width: 100%;
    padding-bottom: $page-bottom-padding;
    justify-content: center;
  }
}

.modal {
  position: absolute;
  z-index: 999;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}
