<div class="page-wrapper flex w-full justify-center" [ngClass]="(modalOpened$ | async) ? 'no-scroll h-page' : ''">
  <app-layout class="page">
    <router-outlet></router-outlet>
  </app-layout>

  @if (modalOpened$ | async) {
    @switch (modalType$ | async) {
      @case ('login') {
        <app-modal class="modal absolute z-index-999">
          <app-login class="modal-content flex flex-column w-full gap-24"></app-login>
        </app-modal>
      }
      @case ('passwordRecovery') {
        <app-modal class="modal absolute z-index-999">
          <app-password-recovery class="modal-content flex flex-column w-full gap-24"></app-password-recovery>
        </app-modal>
      }
      @case ('signUp') {
        <app-modal class="modal absolute z-index-999">
          <app-register class="modal-content flex flex-column w-full gap-24"></app-register>
        </app-modal>
      }
      @case ('cart') {
        <app-modal class="modal absolute z-index-999">
          <app-shopping-cart class="modal-content flex flex-column w-full gap-24"></app-shopping-cart>
        </app-modal>
      }
    }
  }

  <app-toast></app-toast>
</div>
