@use "../../../../styles/variables" as *;

.card {
  border-radius: $border-radius;
  width: 270px;
  cursor: pointer;

  &__image {
    border-radius: $border-radius;
    height: 180px;
    object-fit: cover;
  }

  &-horizontal {
    width: 369px;
    height: 96px;

    &__image {
      height: 96px;
      width: 96px;
    }
  }

  &__content {
    &__body {
      &__blog {
        &-title {
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
