@use "../../../../styles/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: $border-radius;
  width: 270px;
  height: fit-content;
  transition: 0.2s ease-out;
  cursor: pointer;

  &__image {
    border-radius: $border-radius;
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  &-horizontal {
    flex-direction: row;
    width: 369px;
    height: 96px;

    &__image {
      height: 96px;
      width: 96px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__body {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &__blog {
        &-title {
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      gap: 16px;

      &__info {
        font-size: 14px;
      }
    }
  }
}
