<footer class="footer">
  <div class="footer__container flex space-between">

    <div class="footer__section footer__section--contact">
      <h3 class="footer__heading bold">Get in touch</h3>
      <ul class="footer__list">
        <li class="footer__item fs-14">About Us</li>
        <li class="footer__item fs-14">Careers</li>
        <li class="footer__item fs-14">Press Releases</li>
        <li class="footer__item fs-14">
          <a class="footer__item__link fs-14" routerLink="/blogs">Blog</a>
        </li>
      </ul>
    </div>

    <div class="footer__section footer__section--connections">
      <h3 class="footer__heading bold">Connections</h3>
      <ul class="footer__list">
        <li class="footer__item fs-14">Facebook</li>
        <li class="footer__item fs-14">Twitter</li>
        <li class="footer__item fs-14">Instagram</li>
        <li class="footer__item fs-14">Youtube</li>
        <li class="footer__item fs-14">LinkedIn</li>
      </ul>
    </div>

    <div class="footer__section footer__section--earnings">
      <h3 class="footer__heading bold">Earnings</h3>
      <ul class="footer__list">
        <li class="footer__item fs-14">Become an Affiliate</li>
        <li class="footer__item fs-14">Advertise your product</li>
        <li class="footer__item fs-14">Sell on Market</li>
      </ul>
    </div>

    <div class="footer__section footer__section--account">
      <h3 class="footer__heading bold">Account</h3>
      <ul class="footer__list">
        <li class="footer__item fs-14">
          <a class="footer__item__link fs-14" [routerLink]="isAuthenticated ? '/account' : '/auth'">Your account</a>
        </li>
        <li class="footer__item fs-14">Returns Centre</li>
        <li class="footer__item fs-14">100% purchase protection</li>
        <li class="footer__item fs-14">Chat with us</li>
        <li class="footer__item fs-14">Help</li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright fs-14">
    Copyright © 2020 petrbilek.com
  </div>
</footer>
