@use "../../../styles/variables" as *;

.footer {
  padding: 60px 45px;

  &__heading {
    margin-bottom: 20px;
  }

  &__section {
    flex: 1;
    max-width: 200px;
    margin-bottom: 40px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 13px;
    color: $primary-color;

    &__link {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
