@use "../../../styles/variables" as *;

:host {
  ::ng-deep {
    .order-notes .input {
      height: 112px;
    }
  }
}

.thanks-text {
  height: 100px;

  &__heading {
    color: $primary-color;
  }

  &__subheading {
    color: $secondary-color;
  }
}

.page {
  padding: 16px 45px;
}

.step {
  width: 670px;

  &__header {
    &__heading {
      font-size: 22px;
    }

    &__info {
      &-text {
        color: $secondary-color;
      }
    }
  }

  &__form {
    flex-wrap: wrap;

    &__input {
      display: block;
      width: 319px;
      margin-bottom: 16px;
    }
  }
}

.security-info {
  width: 218px;

  &__text {
    &-secondary {
      color: $secondary-color;
    }
  }
}

.error {
  color: red;
}

.credit-card-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  row-gap: 32px;
  column-gap: 16px;
}

.card-number-field {
  grid-column: span 5;
}

.card-holder-field {
  grid-column: span 3;
  padding-right: 16px;
}

.expiration-date-field,
.cvc-field {
  grid-column: span 1;
}

.submit-button {
  width: 218px;
}
