.page {
  padding: 16px 45px;
}

.blogs {
  &__banner {
    justify-content: end;

    &__info {
      &__avatar {
        height: 32px;
        width: 32px;
        object-fit: cover;
      }
    }
  }
}
