<div class="product flex gap-16">
  <div class="product__item flex flex-column gap-12">
    <img class="product__image"
         [src]="product().product.image[0]"
         (error)="onImageError($event)"
         (click)="navigateToProductDetail(product().product)"
    />

    <div class="product__actions flex flex-column gap-8">
      @if (!isAuthenticated || !isInWishlist) {
        <div class="product__actions__item gap-6 flex align-center" (click)="addToWishList(product().product)">
          <img ngSrc="assets/icons/ic-actions-heart.svg" width="16" height="16">
          <p class="product__actions__item-text fs-14 light">Wishlist</p>
        </div>
      } @else {
        <div class="product__actions__item gap-6 flex align-center" (click)="removeFromWishList(product().product)">
          <img ngSrc="assets/icons/ic-actions-heart-filled.svg" width="16" height="16">
          <p class="product__actions__item-text fs-14 light">Wishlist</p>
        </div>
      }

      <div class="product__actions__item gap-6 flex align-center">
        <img ngSrc="assets/icons/ic-layout-picture-right.svg" width="16" height="16">
        <p class="product__actions__item-text fs-14 light">Compare</p>
      </div>

      <div class="product__actions__item gap-6 flex align-center" (click)="removeFromCart()">
        <img ngSrc="assets/icons/ic-actions-close-simple.svg" width="16" height="16">
        <p class="product__actions__item-text fs-14 light">Remove</p>
      </div>
    </div>
  </div>

  <div class="product__info flex flex-column w-full gap-8">
    <p class="product__info__name">{{ product().product.name }}</p>

    <div class="product__info__details flex gap-14">
      <div class="product__info__details__title flex flex-column space-between gap-2">
        <p class="product__info__farm fs-14 light">Farm:</p>
        <p class="product__info__freshness fs-14 light">Freshness:</p>
      </div>

      <div class="product__info__details__value flex flex-column space-between gap-2">
        <p class="product__info__farm product__info__farm-value fs-14 light">{{ product().product.farm }}</p>
        <p class="product__info__freshness product__info__freshness-value fs-14 light">{{ product().product.freshness === 1 ? '1 day old' : product().product.freshness + ' days old'}}</p>
      </div>
    </div>

    <div class="product__info__rating">
      @for (rating of getRatingArray(); track rating) {
        <img [ngSrc]="rating ? 'assets/icons/ic-actions-star-filled.svg' : 'assets/icons/ic-actions-star.svg'"
             width="16"
             height="16"
             alt="star"
        />
      }
    </div>

    <div class="product__purchase-section flex space-between">
      <h3 class="product__purchase-section__price bolder">{{ product().product.price }} UAH</h3>

      <div class="product__purchase-section__action flex align-center w-fit gap-4">
          <app-input class="product__purchase-section__action__input"
                     [placeholder]="product().quantity"
                     [border]="false"
                     [ngModel]="product().quantity"
                     [min]="1"
                     [max]="product().product.maxKgs"
                     (input)="onQuantityChange($event)"
          >
          </app-input>
        <div class="divider"></div>
        @if (buyByOptions.length > 0) {
          <app-dropdown [options]="buyByOptions" [placeholder]="buyByOptions[0].title"></app-dropdown>
        }
      </div>
    </div>
  </div>
</div>
