<div class="product">
  <div class="product__item">
    <img class="product__image"
         [src]="product().product.image[0]"
         (error)="onImageError($event)"
         (click)="navigateToProductDetail(product().product)"
    />

    <div class="product__actions">
      @if (checkIfInWishList(product().product)) {
        <div class="product__actions__item" (click)="removeFromWishList(product().product)">
          <img ngSrc="assets/icons/ic-actions-heart-filled.svg" width="16" height="16">
          <p class="product__actions__item-text">Wishlist</p>
        </div>
      } @else {
        <div class="product__actions__item" (click)="addToWishList(product().product)">
          <img ngSrc="assets/icons/ic-actions-heart.svg" width="16" height="16">
          <p class="product__actions__item-text">Wishlist</p>
        </div>
      }

      <div class="product__actions__item">
        <img ngSrc="assets/icons/ic-layout-picture-right.svg" width="16" height="16">
        <p class="product__actions__item-text">Compare</p>
      </div>

      <div class="product__actions__item" (click)="removeFromCart()">
        <img ngSrc="assets/icons/ic-actions-close-simple.svg" width="16" height="16">
        <p class="product__actions__item-text">Remove</p>
      </div>
    </div>
  </div>

  <div class="product__info">
    <p class="product__info__name">{{ product().product.name }}</p>

    <div class="product__info__details">
      <div class="product__info__details__title">
        <p class="product__info__farm">Farm:</p>
        <p class="product__info__freshness">Freshness:</p>
      </div>

      <div class="product__info__details__value">
        <p class="product__info__farm product__info__farm-value">{{ product().product.farm }}</p>
        <p class="product__info__freshness product__info__freshness-value">{{ product().product.freshness === 1 ? '1 day old' : product().product.freshness + ' days old'}}</p>
      </div>
    </div>

    <div class="product__info__rating">
      @for (rating of getRatingArray(); track rating) {
        <img [ngSrc]="rating ? 'assets/icons/ic-actions-star-filled.svg' : 'assets/icons/ic-actions-star.svg'"
             width="16"
             height="16"
             alt="star"
        />
      }
    </div>

    <div class="product__purchase-section">
      <h3 class="product__purchase-section__price">{{ product().product.price }} UAH</h3>

      <div class="product__purchase-section__action">
          <app-input class="product__purchase-section__action__input"
                     [placeholder]="product().quantity"
                     [border]="false"
                     [ngModel]="product().quantity"
                     [min]="1"
                     [max]="product().product.maxKgs"
                     (input)="onQuantityChange($event)"
          >
          </app-input>
        <div class="divider"></div>
        <app-dropdown [options]="buyByOptions" [placeholder]="buyByOptions[0].title"></app-dropdown>
      </div>
    </div>
  </div>
</div>
