@use "../../../../styles/variables" as *;

:host {
  ::ng-deep {
    .input-wrapper {
      padding: 6px !important;
      border-radius: 12px !important;
    }

    .input {
      font-size: 14px;
    }

    .dropdown-header {
      padding-inline: 6px 0 !important;
      gap: 2px !important;
      font-size: 14px;
    }

    .dropdown-item {
      font-size: 14px !important;
      padding: 6px !important;
    }
  }
}

.product {
  padding-block: 22px;

  &__image {
    cursor: pointer;
  }

  &__info {
    min-width: 228px;

    &__name {
      font-weight: 500;
    }

    &__farm, &__freshness {
      color: $secondary-color;

      &-value {
        color: #000;
      }
    }

    &__info {
      padding-top: 7px;
    }
  }

  &__actions {
    &__item {
      &-text {
        color: $secondary-color;
        cursor: pointer;

        &:hover {
          color: #000;
          transition: 0.2s ease-out;
        }
      }
    }
  }

  &__image {
    height: 67px;
    width: 100px;
  }

  &__purchase-section {
    padding-block: 6px;

    &__price {
      color: $primary-color;
    }

    &__action {
      border-radius: 12px;
      border: 1px solid $border-color;
      background-color: $light-bg-color;

      &__input {
        width: 30px;
      }
    }
  }
}

.divider {
  width: 1px;
  height: 26px;
  background-color: $border-color;
}
