@use "../../../styles/variables" as *;

.cart {
  height: 84vh;

  &__product-list {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-track {
      background-color: $light-bg-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $border-color;
      border-radius: 5px;
    }
  }

  &__actions {
    padding-top: 15px;
    border-top: 1px solid $border-color;

    &-back {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.border-bottom {
  border-bottom: 1px solid $light-bg-color;
}
