@use "../../../../styles/variables" as *;

.breadcrumbs {
  padding: 16px 45px;

  &__link {
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__separator {
    color: $secondary-color;
  }
}
