@use "../../../../styles/variables" as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px 45px;

  &__link, &__current, &__separator {
    font-size: 14px;
  }

  &__link {
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__separator {
    color: $secondary-color;
  }
}
