@use "../../../styles/variables" as *;

.page {
  padding: 40px 45px;

  &__top-bar {
    &__header {
      padding-block: 8px;
    }

    &__actions {
      &__text {
        color: $secondary-color;
      }
    }
  }

  &__content__products {
    padding-block: 25px;

    &-text {
      margin-inline: auto;
      color: $secondary-color;
    }
  }
}

.grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.selected {
  color: #000;
}

.view-action {
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    filter: brightness(0.7);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid $border-color;
  border-bottom-color: transparent;
  align-self: center;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 60px;
  margin-inline: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
