<div class="slider__container flex flex-column gap-16">
    <div class="slider__wrapper relative">
        <input
                type="range"
                class="slider min-slider w-full absolute"
                [min]="min()"
                [max]="maxValue - step()"
                [step]="step()"
                [value]="minValue"
                (input)="handleSliderInput($event, 'min')"
                [style.width.%]="minSliderWidth"
        />

        <input
                type="range"
                class="slider max-slider w-full absolute"
                [min]="minValue + step()"
                [max]="max()"
                [step]="step()"
                [value]="maxValue"
                (input)="handleSliderInput($event, 'max')"
                [style.width.%]="maxSliderWidth"
        />

        <div class="slider__track absolute slider__track-inactive w-full"></div>
        <div class="slider__track absolute" [style.left.%]="trackLeft" [style.width.%]="trackWidth"></div>
    </div>

    <div class="inputs flex space-between align-center">
        <app-input class="inputs__item"
                   [label]="'Min'"
                   [placeholder]="''"
                   [type]="'number'"
                   [(ngModel)]="minInputValue"
                   (blur)="handleInputChange('min')">
        </app-input>
        <p class="inputs__separator">-</p>
        <app-input class="inputs__item"
                   [label]="'Max'"
                   [placeholder]="''"
                   [type]="'number'"
                   [(ngModel)]="maxInputValue"
                   (blur)="handleInputChange('max')">
        </app-input>
    </div>
</div>
