@use "../../../../styles/variables" as *;

.tag {
  padding-inline: 8px;
  border-radius: $border-radius;
  gap: 6px;
  height: 20px;

  &__close {
    opacity: 0.3;
    cursor: pointer;
    transition: 0.1s opacity ease-out;

    &:hover {
      opacity: 0.6;
    }
  }

  &-closed {
    display: none;
  }
}

.green {
  background-color: #F4F8EC;

  &-text {
    color: $primary-color;
  }
}

.gray {
  background-color: $light-bg-color;
  border: 1px solid $border-color;

  &-text {
    color: #000;
  }
}
