@use "../../../../styles/variables" as *;

.list {
  &__content {
    list-style: none;
    padding: 0;
    width: 268px;

    &__heading {
      margin-bottom: 20px;
    }

    &__item {
      margin-bottom: 13px;
      color: $primary-color;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: $primary-color-dark;
      }
    }
  }
}
