@use "../../../styles/variables" as *;

.page {
  &__top-bar {
    padding-inline: 45px;

    &__header {
      padding-block: 8px;
    }

    &__actions {
      &__text {
        color: $secondary-color;
      }
    }

    &__filters {
      &__items {
        &-active {
          flex-wrap: wrap;

          &-text {
            color: $secondary-color;
            font-weight: 500;
          }
        }
      }
    }
  }

  &__content {
    padding: 64px 45px;

    &-text {
      margin-inline: auto;
      color: $secondary-color;
    }

    &__filters {
      &__buttons {
        gap: 46px;

        &__reset-button {
          cursor: pointer;
          color: $secondary-color;
          transition: color 0.2s ease-out;

          &:hover {
            color: #868686;
          }
        }
      }
    }
  }

  &__category-text {
    color: $secondary-color;
    text-align: center;
  }
}

.grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.selected {
  color: #000;
}

.view-action {
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    filter: brightness(0.7);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid $border-color;
  border-bottom-color: transparent;
  align-self: center;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 60px;
  margin-inline: auto;
;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
