<app-breadcrumbs></app-breadcrumbs>

@if (categoryName) {
  @if (originalProducts.length) {
    <div class="page flex flex-column">
      <div class="page__top-bar flex flex-column gap-16">
        <div class="page__top-bar__header flex space-between align-center">
          <h1>{{ categoryName }}</h1>

          <div class="page__top-bar__actions flex gap-24">
            <div class="page__top-bar__actions__item view-action flex align-center gap-4" (click)="changeView('grid')">
              @if (view === 'grid') {
                <img ngSrc="assets/icons/ic-layout-square-grid-green.svg" width="18" height="18">
                <p class="page__top-bar__actions__text selected fs-12">Grid view</p>
              } @else {
                <img ngSrc="assets/icons/ic-layout-square-grid.svg" width="18" height="18">
                <p class="page__top-bar__actions__text fs-12">Grid view</p>
              }
            </div>

            <div class="page__top-bar__actions__item view-action flex align-center gap-4" (click)="changeView('list')">
              @if (view === 'list') {
                <img ngSrc="assets/icons/ic-layout-sections-green.svg" width="18" height="18">
                <p class="page__top-bar__actions__text selected fs-12">List view</p>
              } @else {
                <img ngSrc="assets/icons/ic-layout-sections.svg" width="18" height="18">
                <p class="page__top-bar__actions__text fs-12">List view</p>
              }
            </div>

            <div class="page__top-bar__actions__item flex align-center gap-4">
              <app-tag [text]="productsQuantity"></app-tag>
              <p class="page__top-bar__actions__text">Products</p>
            </div>
          </div>
      </div>

        <div class="page__top-bar__filters flex flex-column w-full gap-16">
          <div class="page__top-bar__filters__items flex gap-16">
            <app-filter
              [label]="wishlistFilter().label"
              [itemsCount]="wishlistFilter().count!"
              [checked]="wishlistFilter().checked"
              (filterChanged)="onFilterChange('wishlist')">
            </app-filter>
            <app-filter
              [label]="nonWishlistFilter().label"
              [itemsCount]="nonWishlistFilter().count!"
              [checked]="nonWishlistFilter().checked"
              (filterChanged)="onFilterChange('nonWishlist')">
            </app-filter>
          </div>

          <div class="page__top-bar__filters__items-active flex align-center gap-12">
            <p class="page__top-bar__filters__items-active-text fs-14">Applied filters:</p>
            @for (filter of appliedFilters(); track filter.id) {
              <app-tag
                [text]="filter.label"
                [removable]="true"
                (tagRemoved)="onFilterTagRemoved(filter.id)"
              >
                @if (filter.ratingArray) {
                  <div class="rating">
                    @for (star of filter.ratingArray; track star) {
                      @if (star) {
                        <img ngSrc="assets/icons/ic-actions-star-filled-yellow.svg" width="16" height="16" alt="filled star" />
                      }
                    }
                  </div>
                }
              </app-tag>
            }

          </div>
        </div>
      </div>

      <div class="page__content flex gap-32">
        <div class="page__content__filters flex flex-column gap-48">
          <app-rating-filter [ratings]="ratings()" (filterChanged)="onFilterChange($event)"></app-rating-filter>

          <app-price-filter [priceRange]="priceRange()" (filterChanged)="onPriceRangeChange($event)"></app-price-filter>

          <div class="page__content__filters__buttons flex">
            <app-button (click)="applyFilters()">Apply</app-button>
            <p class="page__content__filters__buttons__reset-button flex flex-center fs-16 bolder"
               (click)="onResetFilters()">
              Reset
            </p>
          </div>
        </div>

        <div class="page__content__products flex flex-column w-full gap-32" [ngClass]="view">
          @for (product of displayedProducts; track product.id) {
            @if (view === 'list') {
              <app-product-card [product]="product" [type]="'horizontal'"></app-product-card>
            } @else {
              <app-product-card [product]="product"></app-product-card>
            }
          }

          @if (!productsQuantity) {
            <p class="page__content-text">Sorry, looks like there are no products matching these filters.</p>
          }
        </div>
      </div>

      <app-pagination itemName="products" [totalItems]="productsQuantity" [itemsPerPage]="productsPerPage" (pageChanged)="onSelectedPagesChange($event)"></app-pagination>
    </div>
  } @else {
    <div class="page flex flex-column">
      <div class="page__content flex">
        <span class="loader rounded-full"></span>
      </div>
    </div>
  }
} @else {
  <div class="page flex flex-column">
    <div class="page__content flex">
      <p class="page__category-text w-full self-center">Sorry, looks like this category does not exist.</p>
    </div>
  </div>
}


