<div class="order-summary">
  <div class="order-summary__header">
    <h2 class="order-summary__header__heading">Order summary</h2>
    <p class="order-summary__header__subheading">Price can change depending on shipping method and taxes of your state.</p>
  </div>

  <div class="order-summary__product-list">
    @if (products.length) {
      @for (product of products; track product.product.id; let last = $last) {
        <app-product-item [product]="product" [ngClass]="{ 'border-bottom': !last }"></app-product-item>
      }
    } @else {
      <p>Looks like there are no products in your cart.</p>
    }
  </div>

  <div class="order-summary__price-summary">
    <p class="order-summary__price-summary__text">Total order</p>
    <h2 class="order-summary__price-summary__price">{{ totalPrice }} USD</h2>
  </div>
</div>
